body {
    background-image: url("assets/IMG_3743.JPG");
}

h1 {
    color:rgb(139, 53, 0);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.one {
    background-color: rgb(82, 160, 249);
    color:rgb(190, 93, 23);
    padding: 5px;
}

.two {
     color:rgb(29, 138, 178);
     padding: 5px;
}

#three {
    color:rgb(185, 54, 102);
    text-align: center;
}


h2 {
    text-align: center;
}

ol{
    margin-left: 500px;
}

img {
    width: 500px;
    height: 500px;
    
}